<div id="thanks-box">
  <p>Thanks for leaving your email and comments</p>
  <p>Would you like to know more about NBSAPs?</p>

  <a href="http://www.cbd.int/nbsap/">Go to the NBSAPs website</a>
</div>
