<%= render 'form' %>

<% if @user.errors.any? %>
  <div id="error-box">
    <p>Sorry, we were unable to save your details, please double-check your email address.</p>

    <a class="back-button" href="#">Go back</a>
  </div>
<% end %>
