<article id="about">
  <h1>WELCOME TO THE HOME OF THE NBSAP FORUM</h1>
  <section id="subhead">
    We are developing the NBSAP Forum website to offer countries support in transforming and implementing their NBSAPs. Sign up and let us know what you would like included.
  </section>
  <section id="about-text">
    <div>
      NBSAP Forum is a community of practice that offers countries support in transforming and implementing their NBSAPs. The Forum provides easy-to-access, targeted information such as best practices, guidelines and learning tools. It also enables 
    </div>
    <div>
      diverse actors to come together, online and in person, to share knowledge, experiences and resources. The Forum is a partnership between the CBD secretariat, UNEP, UNDP, governments, NGOs and others, all working to reverse the loss of biodiversity by 2020.
    </div>
  </section>
  <form id="dummy-form">
    <h3 class="green">Sign up to keep in touch. We’ll let you know when the full site has launched.</h3>
    <input id="signup-trigger" type="text"/>
  </form>
  <div id="new-form-container">
  </div>
</article>
<article id="main-content">
  <ul id="places">
    <li>
      <div class="dot">
        <h3>A PLACE TO CONNECT</h3>
      </div>
      <ul class="place-links">
        <li>Face-to-face workshops</li>
        <li>Focused study tours</li>
        <li>Recognised centers of excellence</li>
        <li>Sub-regional learning groups</li>
      </ul>
    </li>
    <li>
      <div class="dot">
        <h3>A PLACE TO FIND RESOURCES</h3>
      </div>
      <ul class="place-links">
        <li>Guidelines and templates</li>
        <li>E-Learning modules and course rooms</li>
        <li>Best practices and case studies</li>
        <li>Online webinars</li>
      </ul>
    </li>
    <li>
      <div class="dot">
        <h3>A PLACE FOR SUPPORT</h3>
      </div>
      <ul class="place-links">
        <li>Peer and expert reviews</li>
        <li>Advice on financial resources</li>
        <li>Direct technical support</li>
      </ul>
    </li>
  </ul>
</article>
<div id="static-form">
  <%= render :partial => 'users/form' %>
</div>
