// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #F2F2F2 image-url('logo-background.png') no-repeat 0 0;
  font-family: Tahoma, Geneva, sans-serif;
}

#center-content {
  width: 955px;
  margin: auto;
}

header {
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: #D8E5EB;
  margin-top: 28px;

  aside {
    margin-top: 86px;
    float:right;
  }
}


#about {
  color: #FFF;
  width: 630px;
  font-family: Tahoma, Geneva, sans-serif;
  height: 550px;

  h1 {
    font-size: 45px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
  }

  section#subhead {
    background-color:rgba(0,0,0,0.2);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 25px;
  }

  section#about-text {
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 38px;

    div {
      padding: 2px;
      float: left;
      width: 310px;
    }
  }

  form {
    background-color: #F1F6FB;
    padding: 5px 10px;
    border-radius: 5px;
    color: #CBD300;

    p {
      margin: 0 0 5px 0;
    }

    input {
      color: #CCC;
      padding: 5px;
      width: 600px;
      border: 0;
      font-size: 23px;
    }
  }
}

ul#places {
  overflow: hidden;
  padding-left: 0;

  li {
    list-style-type: none;
  }

  > li {
    background-image: image-url('place-background.png');
    float:left;
    margin-left: 25px;
    width: 298px;
    height: 429px;

    div.dot {
      margin: 61px 75px;
      text-align:center;

      h3 {
        color: #FFF;
        font-size: 16px;
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: normal;
      }
    }

    .place-links {
      padding: 13px 0 0 25px;

      li {
        color: #666;
        padding: 19px 0;
        border-top: 2px solid #E7EC99;
        font-size: 15px;
        width: 50px;
        white-space: nowrap;
        overflow:visible;
      }
      li:first-child {
        border-top: 0;
      }
    }
  }

  > li:first-child {
    margin-left: 0;
  }
}
