<!DOCTYPE html>
<html>
<head>
  <title>NBSAPLanding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <img src="/assets/NBSAP-Logo.png" />
  <aside>Support for actions on NBSAPs</aside>
</div>
<%= yield %>

</body>
</html>
