<!DOCTYPE html>
<html>
<head>
  <title>NBSAPLanding</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <img src="/assets/NBSAP-Logo.png" />
  <aside>Support for actions on NBSAPs</aside>
</div>
<article>
  <h1>WELCOME TO THE HOME OF THE NBSAP FORUM</h1>
  <section>
    We are developing the NBSAP Forum website to offer countries support in transforming and implementing their NBSAPs. Sign up and let us know what you would like included.
  </section>
  <section>
    <div class="left">
      NBSAP Forum is a community of practice that offers countries support in transforming and implementing their NBSAPs. The Forum provides easy-to-access, targeted information such as best practices, guidelines and learning tools. It also enables 
    </div>
    <div class="right">
      diverse actors to come together, online and in person, to share knowledge, experiences and resources. The Forum is a partnership between the CBD secretariat, UNEP, UNDP, governments, NGOs and others, all working to reverse the loss of biodiversity by 2020.
    </div>
    <div>
      Sign up to keep in touch. We’ll let you know when the full site has launched.
      <input type="text"/>
    </div>
  </section>
</article>
<article id="main-content">
  <ul id="places">
    <li>
      <h3>A PLACE TO CONNECT</h3>
    </li>
  </ul>
</article>
<%= yield %>

</body>
</html>
